<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block head %} {% include 'admin/admin/head.html.twig'%} {% endblock %}
</head>
<body class="hold-transition sidebar-mini">
{% block header %} {% include 'admin/admin/header.html.twig'%} {% endblock %}
{% block sidebar %} {% include 'admin/admin/sidebar.html.twig'%} {% endblock %}
{% block body %}  {% endblock %}
{% block footer %} {% include 'admin/admin/footer.html.twig'%} {% endblock %}
</body>
</html>
